<div class="flex items-center justify-center min-h-[80vh] m-8">
  <div class="w-full max-w-md">
    <mat-card class="p-8">
      <mat-card-header>
        <mat-card-title class="text-2xl font-bold text-center pb-5"
          >Sign In</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="loading" class="overlay flex items-center justify-center">
          <mat-progress-spinner
            color="primary"
            mode="indeterminate"
            diameter="50">
          </mat-progress-spinner>
        </div>
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
          [class.disabled]="loading">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Email</mat-label>
            <input
              cdkTrapFocus
              cdkTrapFocusAutoCapture
              matInput
              formControlName="email"
              type="email"
              class="w-full" />
            <mat-error
              *ngIf="email?.invalid && (email?.dirty || email?.touched)">
              <ng-container *ngIf="email?.hasError('required')"
                >Email is required.</ng-container
              >
              <ng-container *ngIf="email?.hasError('email')"
                >Invalid email address.</ng-container
              >
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-full mt-2">
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="passwordVisible ? 'text' : 'password'"
              class="w-full" />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="togglePasswordVisibility()">
              <mat-icon>{{
                passwordVisible ? 'visibility' : 'visibility_off'
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                password?.invalid && (password?.dirty || password?.touched)
              ">
              <ng-container *ngIf="password?.hasError('required')"
                >Password is required.</ng-container
              >
            </mat-error>
          </mat-form-field>
          <ng-container *ngIf="verifyCode$$.value">
            <mat-form-field appearance="fill" class="w-full pt-2">
              <mat-label>Verify code</mat-label>
              <input
                matInput
                formControlName="verifyCode"
                type="text"
                class="w-full" />
              <mat-hint>Check your email for the code.</mat-hint>
              <mat-error
                *ngIf="
                  verifyCode?.invalid &&
                  (verifyCode?.dirty || verifyCode?.touched)
                ">
                <ng-container *ngIf="verifyCode?.hasError('required')"
                  >Verify code is required.</ng-container
                >
              </mat-error>
            </mat-form-field>
          </ng-container>
          <div class="mt-4">
            <a *ngIf="!verifyCode$$.value" routerLink="/password-reset"
              >Reset password</a
            >
          </div>
          <div class="flex justify-between mt-5">
            <ng-container *ngIf="!verifyCode$$.value; else null">
              <a class="self-end" routerLink="/signup">
                <h3 class="!mb-0">Register</h3>
              </a>
            </ng-container>
            <div></div>
            <div class="flex justify-end">
              <button
                id="submitButton"
                mat-flat-button
                color="primary"
                type="submit"
                [disabled]="loginForm.invalid"
                class="px-4 py-2">
                Login
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
