<h1>Clients</h1>
<form [formGroup]="form">
  <mat-form-field class="flex" appearance="outline">
    <input matInput placeholder="Search" formControlName="search" />
    <mat-icon matIconPrefix>search</mat-icon>
    <button
      mat-icon-button
      matSuffix
      *ngIf="search()"
      (click)="form.controls?.search?.reset()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>
<ul
  class="outline outline-1 outline-slate-400 rounded virtual-scroll-container">
  @if (filteredClientList()?.length === 0) {
    <li class="ml-2">
      <p>No clients found</p>
    </li>
  } @else {
    <!-- @for (item of filteredClientList(); track $index) { -->
    <cdk-virtual-scroll-viewport itemSize="50" class="virtual-scroll-viewport">
      <div
        *cdkVirtualFor="let item of filteredClientList()"
        class="virtual-scroll-item">
        <li>
          <mat-card class="mb-3 py-3">
            <mat-card-header>
              <mat-card-title>{{ item.name }}</mat-card-title>
              <mat-card-subtitle>{{ item.email }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="mt-3">
              <p>{{ item.address }}</p>
              <p>{{ item.phone }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Edit</button>
              <button mat-button>Delete</button>
            </mat-card-actions>
          </mat-card>
        </li>
      </div></cdk-virtual-scroll-viewport
    >

    <!-- } -->
  }
</ul>
<div class="w-full m-2">
  @if (filteredClientList()?.length ?? 0 > 0) {
    <p>{{ filteredClientList()?.length }} clients found</p>
  }
</div>
<div class="h-10 w-full m-2">
  <button mat-button>Add</button>
</div>
