<ng-container *ngIf="vm() as vm">
  <ng-container [ngSwitch]="token()">
    <ng-container *ngSwitchCase="undefined">
      <div class="m-5">
        <h1 class="m-2">App Machine</h1>
        <button
          (click)="fakeRegisterLogin()"
          class="m-2"
          mat-raised-button
          color="primary"
          [routerLink]="'start'">
          Register
        </button>
        <button
          (click)="fakeRegisterLogin()"
          class="m-2"
          mat-raised-button
          [routerLink]="'start'"
          color="primary">
          Sign In
        </button>
        <!-- <button
        class="m-2"
        mat-raised-button
        color="primary"
        [routerLink]="'login'">
        Login
      </button> -->
      </div>
    </ng-container>
    <app-nav *ngSwitchDefault></app-nav>
  </ng-container>
</ng-container>
