<ng-container *ngIf="vm() as vm">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'push'"
      [opened]="opened">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        @for (item of vm.menuItems; track $index) {
          @if (item.visible === undefined || item.visible === true) {
            <a
              (click)="drawer.toggle()"
              routerLink="{{ item.routePath }}"
              mat-list-item
              >{{ item.title }}</a
            >
          }
        }
        <a (click)="signOut()" mat-list-item>Sign Out</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        @if (isHandset$ | async) {
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        }
        <span>App Machine</span>
        <div class="grow"></div>
        <div class="flex">
          <button
            (click)="isOpen = !isOpen"
            cdkOverlayOrigin
            #trigger="cdkOverlayOrigin">
            <!-- (mouseover)="isOpen = true"
          (mouseout)="isOpen = false" -->
            <!-- <img src="" alt="" class="avatar mat-elevation" /> -->
            <img
              alt="Adam Cox"
              class="h-10 rounded-full w-10"
              src="../assets/AdamCox.jpeg" /><!--
            routerLink="/profile" --><!--
              src="https://media.licdn.com/dms/image/C5603AQGTleQRTom6eA/profile-displayphoto-shrink_800_800/0/1516253410442?e=1713398400&v=beta&t=XxcOf8bI0L2feMdyD_-KNRAyDFAnPAjhRLWyciogik0" -->
            <ng-template
              cdkConnectedOverlay
              [cdkConnectedOverlayOrigin]="trigger"
              [cdkConnectedOverlayOpen]="isOpen">
              <mat-card>
                <mat-card-content>
                  <p>
                    <a (click)="isOpen = !isOpen" routerLink="/profile/edit"
                      >Edit Profile</a
                    >
                  </p>
                </mat-card-content>
              </mat-card>
            </ng-template>
          </button>
        </div>
      </mat-toolbar>
      <div class="m-3">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
