.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

// override primeflex css
// TODO: resolve this in a better way
.w-10 {
  width: 2.5rem !important;
}

// fix issue with border on button where profile class applied
button.profile:focus {
  outline: none;
}
