@use '@angular/material' as mat;

@include mat.core();

$pp: mat.define-palette(mat.$indigo-palette);
$primary: mat.get-color-from-palette($pp);
$ap: mat.define-palette(mat.$pink-palette);
$accent: mat.get-color-from-palette($ap);
$wp: mat.define-palette(mat.$red-palette);
$warn: mat.get-color-from-palette($wp);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $pp,
      accent: $ap,
      warn: $wp,
    ),
    typography: mat.define-typography-config(),
  )
);

@include mat.all-component-themes($theme);

// Style to fix the weird border with angular material
// https://stackoverflow.com/questions/75535246/angular-mat-form-field-not-working-properly-a-border-line-appears-inside-the-f
// https://github.com/tailwindlabs/tailwindcss/discussions/9993
.mdc-notched-outline__notch {
  border-right: none !important;
}
