<mat-card class="p-5">
  <p class="font-sans text-2xl">Demo (Pokemon API)</p>
  <form [formGroup]="form">
    <mat-form-field class="flex" appearance="outline">
      <input matInput placeholder="Search" formControlName="search" />
      <mat-icon matIconPrefix>search</mat-icon>
      <button
        mat-icon-button
        matSuffix
        *ngIf="search()"
        (click)="form.controls.search.reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <ng-container *ngIf="paging$ | async as paging">
    <mat-paginator
      (page)="pageChange($event)"
      [length]="paging.length$ | async"
      [pageSize]="paging.size"
      [pageSizeOptions]="paging.options"
      aria-label="Select page">
    </mat-paginator>
  </ng-container>
  <ul>
    <li *ngFor="let item of list$ | async">
      <mat-card class="m-2 uppercase" [routerLink]="['detail', item?.id]">
        <mat-card-content>
          {{ item.name }}
          <!-- <img [src]="item.image" alt="pokemon" /> -->
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
</mat-card>
